<h1>My Tasks</h1>
<!-- Listing the Tasks -->
<ul>
  <% @tasks.each do |task| %>
      <li>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" <%= 'checked' if task.completed? %>>
          <label class="form-check-label" for="defaultCheck1">
          <%= link_to task.title, task_path(task.id) %>
          <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
          </label>
        </div>
      </li>
  <% end %>
</ul>

<i class="fa fa-plus"></i>
  <%= link_to "<i class='fa fa-plus' style='color: blue;'></i>Create new Task".html_safe, new_task_path %>
